<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>
  <%= link_to "Create your review", new_movie_review_path(@movie), class: 'btn btn-primary' %>

  <%= button_to "Remove this movie", @movie, method: :delete %>
</div>
