 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-flex flex-grow-1">
  <span class="w-100 d-lg-none d-block">
<!-- hidden spacer to center brand on mobile -->
</span>
<%= link_to "Rate My Movie", root_path, class: "navbar-brand d-none d-lg-inline-block" %>
    <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
  <img src="//placehold.it/40?text=LOGO" alt="logo">
</a>
<div class="w-100 text-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
  <span class="navbar-toggler-icon"></span>
</button>
</div>
</div>
<div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
    <ul class="navbar-nav ms-auto flex-nowrap">
<%# if user is signed in show%>
  <% if user_signed_in? %>
    <li class="nav-item"><%= link_to "New Movie", new_movie_path,:class=>"nav-link m-2 menu-item" %></li>
    <li class="nav-item"><%= link_to "Account", edit_user_registration_path,:class=>"nav-link m-2 menu-item" %></li>
<%# if user is NOT signed in%>    
<% else %>
<li class="nav-item"><%= link_to "Sign Up", new_user_registration_path,:class=>"nav-link m-2 menu-item" %></li>
<li class="nav-item"><%= link_to "Sign In", new_user_session_path,:class=>"nav-link m-2 menu-item" %></li>
<% end %>
</ul>

<%#= form_tag "search_movies_path", method: :get, class: "d-flex", role: "search" do %>
<%#= text_field_tag :search, params[:search], class: "form-control me-2" %>
<%#= submit_tag "Search", name: nil, class: "btn btn-outline-success" %>
<%# end %>
</div>
</nav>
